.navbar-nav > .nav-item {
    margin-left: 15px;
    color: lightslategray;
  }
  .navbar-brand{ color:black !important}
  .nav-link{color: grey !important}

  .nav-link:hover { color: black !important }


.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  }

section {
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
  }

  :root {
    --red: #cd4541;
  }
  
  .red {
    color: var(--red);
  }
  .btn-primary {
    border: 0px;
    color: white;
    background-color: var(--red);
  }
  .card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
  }
  #third {
    background-image: url(/img/banner.jpg);
  }
  #fourth > .container > p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;}
  .grey-section{
    background-color: #ecebea;

    }





